{% extends "base.html" %} {% block title%}Sign Up{% endblock %} 


{% block content%}

<form method = "POST">

    <h3 align = "center ">Sign Up</h3>
    <div class="form-group">
        <label for="email"">Email Address</label>
        <input 
        type="email" 
        class="form-control" 
        id="email" 
        name="email" 
        placeholder="enter email"
        required/>

        <label for="firstname">First Name</label>
        <input 
        type="text" 
        class="form-control" 
        id="firstname" 
        name="firstname" 
        placeholder="enter name"
        required/>

        <label for="password1"">Enter password</label>
        <input 
        type="password" 
        class="form-control" 
        id="password1" 
        name="password1" 
        placeholder="enter password"
        required/>


        <label for="password2">Confirm password</label>
        <input 
        type="password" 
        class="form-control" 
        id="password2" 
        name="password2" 
        placeholder="confirm password"
        required/>

        <button type="submit" class="btn btn-primary">Enter</button>


    </div>
</form>

{% endblock %}